<div class="top-header">

  <h1 class="top-header-title">
    ようこそ
    <b>Bookers</b>
    へ！
  </h1>

  <div class="top-text">
    <p>
      <b>Bookers</b>
      では、さまざまな書籍に関するあなたの意見や
    </p>
  </div>

  <div class="top-text">
    <p>印象を共有し交換することができます</p>
  </div>

  <div class="top-text">
    <%= link_to "start", "/books" %>
  </div>

</div>

